
@using Haircutter.Models

@model Customer


<script type="text/javascript">

    $(document).ready(function() {
        $("#addNewSub").click(function () {
            var customer = {};
            var url = '@Url.Action("AddCustomer", "Home")';
            customer.firstName = $("#firstName").val();
            customer.lastName = $("#lastName").val();
            customer.color = $("#color").val();
            customer.isSub = true;
            customer.appointmentsCount = 0;

            $.ajax({
                url: url,
                data: { customer: customer },
                cache: false,
                type: "POST",
                success: function(respone) {

                    location.reload();
                },
                error: function(reponse) {
                    alert(reponse);
                }
            });
        });
    });
</script>
<h3>sub</h3>
<div class="container">
    <div style="color: black">
        <input id="firstName" type="text" />
    </div>
    <div>
        <input id="lastName" type="text" />
    </div>
    <div>
        <input id="color" type="text" />
    </div>
    <div>
        <input id="addNewSub" type="button" value="הוסף מנוי חדש" />
    </div>
</div>

